html, body, .eol-container {
  height: 100%;
}

.eol-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #53585F;
  height: 100%;
}

.eol-login-box {
  width: 400px;
  height: 600px;
  background: white;
  border: 2px solid #bbb;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 40px;
}

.eol-h1 {
  text-align: center;
  width: 100%;
  margin: 0 0 40px 0;
  color: #53585F;
  font-family: 'Trebuchet MS1', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 30px;
}

.eol-h2 {
  margin: 40px 20px 20px 20px;
}

.eol-h3 {
  margin-top: 40px;
  color: white;
  text-align: center;
}

.eol-home {
  float: left;
  width: 70%;
  height: 100%;
}

.eol-full-width {
  width: 100%;
  margin: 5px 0;
}

.eol-login-label {
  width: 100px;
  display: inline-block;
}

.eol-login-input {
  width: 212px;
}

.btn-login {
  width: 100%;
  margin: 40px 0 0 0;
  border-radius: 0;
  background-color: #53585F;
  border: none;
  color: white;
}

.btn-login:hover, .btn-login:focus {
  color: white;
}

.eol-login-error {
  height: 50px;
  text-align: center;
}

.eol-sidebar {
  width: 30%;
  height: 100%;
  background-color: #53585F;
  padding: 40px;
  float: left;
}

.eol-filter {
  height: 40px;
}

.eol-label {
  color: white;
  width: 100px;
}

.eol-dropdown {
  display: inline-block;
  width: calc(100% - 110px);
}

.eol-dropdown button {
  width: 100%;
  border-radius: 0;
}

.eol-filter-btn {
  width: 100%;
  border-radius: 0;
}

.eol-dashboard {
  width: 100%;
  height: 100%;
  /*padding: 20px;*/
  float: left;
  overflow-y: scroll;
}

.eol-logo {
  width: calc(100% - 20px);
}

.eol-overdue {
  color: #dc3912;
}

.eol-six-months {
  color: #ff9900;
}

.eol-twelve-months {
  color: #fdae6b;
}

.eol-eighteen-months {
  color: #ebcd30;
}

.eol-twentyfour-months {
  color: #98df8a;
}

/* Bootstrap overrides */

a:focus, a:hover {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 305px;
  overflow-y: scroll;
}

/* Graph */

#xaxis .domain, #yaxis .domain {
  fill:none;
  stroke:#000;
}

#xaxis text, #yaxis text {
  font-size: 12px;
}
